*{
    margin: 0;
    padding: 0;
    font-family: General Sans Medium;
}


body::-webkit-scrollbar {
    display: none;
}



.circle{
    position: fixed;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    /* transform: translate(50%, 50%); */
    pointer-events: none;
    scale: 0;
    z-index: 999;
    
}

.view{
    pointer-events: none;
    padding: 20px 15px;
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0;
    translate: (-50% , -50%);
}

.mainNav{
    position: fixed;
    z-index: 10;
    width: 100%;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3vw;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;

    
}

.logo{
    position: relative;
    /* background-color: red; */
    height: 30px;
    overflow: hidden;
}

    .cap {
        text-transform: uppercase;
        font-size: 1vw;
    }

    .up {
        overflow: hidden;

    }
    

.border {
    height: 2px;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0px;
    
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    transition: all ease 0.2s;

}



@keyframes full {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes zero {
    from{
       left: 0px;
    }
    to{
        left: 100%;
    }
}

.all_menu {
    display: flex;
    gap: 3vw;
    /* z-index: 10; */
    position: absolute;
    right: 3vw;
    bottom: 100%;
    transition: all ease 0.8s;
    
}


.menubt {
    /* transition: all ease 0.3s; */
    position: absolute;
    right: 3vw;
}


.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 0 3vw;
    box-sizing: border-box;
    overflow: hidden;
}

.page1 {

    height: 100%;
    width: 100%;
    padding-top : 28vh;
    position: relative;
    color: white;
    box-sizing: border-box;
}

.hero_text {
    font-family: General Sans Regular;
    font-size: 5vw;
    font-weight: 300;
    line-height: 0.9;
    opacity: 0.6;
}

.second_hero_text {
    display: inline-block;
    margin-left: 10vw;
}

#relative{
    position: relative;
}

.down{
    overflow: hidden;
}

#small{
    text-align: end;
   font-size: 1vw;
}
.hero_footer{
    width: 100%;
    font-size: 1vw;
    opacity: 1;
    position: absolute;
    bottom: 20px;
    
}

.right_text{
    text-align: right;
    line-height: 2;
    margin-bottom: 40px;
}

.footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    background-color: gray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    overflow: hidden;
}



.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.page2{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 3vw;
    background-color: black;
}

.page2_text{
    font-size: 4vw;
    padding: 2vw;
    border-bottom: 2px solid white;
    position: relative;
    color: white;
}

.page2_text img{
    height: 20vw;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}