*{
    margin: 0;
    padding: 0;
    font-family: General Sans Medium;
}


body::-webkit-scrollbar {
    display: none;
}

body{
    background-color: black;
}



.circle{
    position: fixed;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    /* transform: translate(50%, 50%); */
    pointer-events: none;
    scale: 0;
    z-index: 999;
    
}

.view{
    pointer-events: none;
    padding: 20px 15px;
    border-radius: 50%;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0;
    translate: (-50% , -50%);
}

.mainNav{
    position: fixed;
    z-index: 10;
    width: 100%;
    color: white;
    font-size: 1rem;
}






.nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 3vw;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;

    
}

.logo{
    position: relative;
    /* background-color: red; */
    height: 30px;
    overflow: hidden;
}

    .cap {
        text-transform: uppercase;
        /* font-size: 1vw; */
    }

    .up {
        overflow: hidden;

    }
    

.border {
    height: 2px;
    background-color: white;
    width: 100%;
    position: absolute;
    left: 0px;
    
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    transition: all ease 0.2s;

}



@keyframes full {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

@keyframes zero {
    from{
       left: 0px;
    }
    to{
        left: 100%;
    }
}

.all_menu {
    display: flex;
    gap: 3vw;
    /* z-index: 10; */
    position: absolute;
    right: 3vw;
    bottom: 100%;
    transition: all ease 0.8s;
    
}


.menubt {
    /* transition: all ease 0.3s; */
    position: absolute;
    right: 3vw;
}




.main {
    height: 100vh;
    width: 100vw;
    background-color: black;
    padding: 0 3vw;
    box-sizing: border-box;
    overflow: hidden;
}

.page1 {

    height: 100%;
    width: 100%;
    padding-top : 28vh;
    position: relative;
    color: white;
    box-sizing: border-box;
}

.hero_text {
    font-family: General Sans Regular;
    font-size: 5vw;
    font-weight: 300;
    line-height: 0.9;
    opacity: 0.6;
}

@media only screen and (max-width: 400px) {

    .hero_text {
        font-size: 8vw;
        line-height: 1.2;
    }

   

}

.second_hero_text {
    display: inline-block;
    margin-left: 10vw;
}

#relative{
    position: relative;
}

.down{
    overflow: hidden;
    font-size: 1rem;
}

#small{
    text-align: end;
   font-size: 1vw;
}
.hero_footer{
    width: 100%;
    font-size: 1vw;
    opacity: 1;
    position: absolute;
    bottom: 20px;
    
}

.right_text{
    text-align: right;
    line-height: 2;
    margin-bottom: 40px;
}

@media only screen and (max-width: 400px) {
    
    .hero_footer{
        margin-top: 20vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right_text{
        text-align: center;
    }
    .footer_flex{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #small {
        font-size: 4vw;
    }
  }

.footer_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow{
    background-color: gray;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    overflow: hidden;
}



.flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.page2{
    margin-top: 10vh;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 3vw;
    background-color: black;
}

.page2_text{
    font-size: 3.6vw;
    padding: 2vw;
    border-bottom: 2px solid white;
    position: relative;
    color: white;
    opacity: 0.6;
}

.page2main {
    border-top: 2px solid gray;
}

@media only screen and (max-width : 400px){

    .page2 {
        height: auto;
        margin-bottom: 5vh;
    }

    .page2_text {
        font-size: 6vw;
        margin-bottom: 4vh;
    }

    .page2main {
        padding-top: 4vh;
    }
}

.page2main {
    border-top: 2px solid gray;
}

.page2_text img{
    height: 20vw;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.page3 .empty {
 min-width: 40vw;
}

.page3{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}



.page3_flex {
    gap: 2vw;
    display: flex;
}

.page3_flex div{
    width: 32vw;
    font-size: 1.2vw;
    line-height: 1.5;
    
}

.page3_flex div h5{
    color: gray;
}

.page3_flex div p{
    color: white;
}

.page3 img{
    height: 17vw;
}

.page3_flex div button{
    margin-top: 10px;
    padding: 7px 15px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    font-size: 15px;
    text-transform: capitalize;
    transition: all ease 0.4s;
}


@media only screen and (max-width : 400px){
    .page3{
        /* background-color: red; */
        justify-content: center;   
        height: auto;
        margin-bottom: 5vh;
    }

    .empty {
        display: none;
    }

    .page3_flex {
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .page3_flex img {
        height: 35vw;
    }

    #page3text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        font-size: 0.5rem;
        gap: 1vh;
    }

    #page3text button {
        font-size: 0.6rem;
    }


}

.page3_flex div button:hover {
    background-color: white;
    color: black;
}

.footer {
    padding: 0 3vw;
    color: white;
    text-transform: uppercase;
}



.footer_text{
    line-height: 1.5;
}

.footer_text h5{
    opacity: 0.6;
}

.footer_text .logo{
    display: inline-block;
}
.footer_nav{
    margin-top: 15vh;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.footer_nav .time{
    display: flex;
    gap: 25px;
}
.footer_menu{
    display: flex;
    gap: 20px;
}
.footer_nav a {
    text-decoration: none;
    color: white;
}


@media only screen and (max-width : 400px) {
    .footer_nav 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer_menu{
        font-size: 0.7rem;
    }
}

